@media only screen and (min-width: 38rem) {

    main {
        max-width: 1000px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 34px auto 330px 34px;
        padding: 0 10px;
    }

    header img {
        padding: 0 0 0 .5rem;
    }

    /*************** NAVIGATION **************/
    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        grid-column: 3/4;
        grid-row: 1/2;
        margin-top: 0px;
    }

    .dark-mode {
        grid-column: 4/5;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    /*---------- Landing Page ----------*/
    .cta {
        bottom: 2rem;
        right: 2rem;
    }

    .middle {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .weather-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        font-size: .9rem;
    }

    .middle p {
        padding: 0;
        margin: 0;
    }

    .weather-flex {
        margin-top: 10px;
        align-items: center;
    }

    .middle h2 {
        font-size: 1rem;
    }

    #events h2, #events h3 {
        grid-column: 1/-1;
    }

    .spotlight {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        margin: 0 20px 20px;
    }

    .spotlight div {
        margin: 5px;
    }

    /*---------- Join Page ----------*/
        #join {
            grid-template-columns: 1fr 1fr;
            
        }

        #join h1 {
            grid-column: 1/-1;
            justify-self: left;
            margin-bottom: 20px;
        }

        #join form {
            padding-top: 0;
        }

        #join h2 {
            margin-top: 0;
        }

        .level-card {
            animation: fadeInUp 2s forwards;
        }

        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(50px);
                margin-bottom: 50px
            }
            to {
                opacity: 1;
                transform: translateY(0);
                margin-bottom: 10px;
            }
        }

        .card img {
            width: 80px;
            height: auto;
        }

        #card-grid {
            display: grid;
            grid-template-rows: 50px 1fr;
        }

        form fieldset {
            grid-template-columns: 20px 1fr;
            align-items: center;
        }

        form input[type="radio"] {
            width: 16px;
            height: 16px;
        }

    /*---------- Footer ----------*/
    footer {
        grid-template-columns: 1fr 1fr 1fr;
        text-align: left;
    }
}