/* ----- Color Scheme ----- */
:root {
    --green-color: #174e09;
    --light-green: #deeeae;
    --accent-color: #D52941;
    --background-color: #FAFAFA;
    --typeface-color: #2E3532;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Outfit", Arial, sans-serif;
    font-size: 1.1rem;
    color: var(--typeface-color);
    background-color: var(--background-color);
}

/* ----- Header ----- */
header {
    padding: .5rem;
    box-shadow: 0 0 10px #00000069;
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
        "logo title nav";
    grid-template-columns: 80px 1fr 44px;
    align-items: center;

}

header span {
    font-family: "Libre Baskerville", 'Times New Roman', serif;
    font-style: italic;
    font-size: 1.5rem;
    grid-area: title;
}

header img {
    width: 100%;
    height: auto;
    margin: 0;
    grid-area: logo;
}

/* ----- Hamburger Navigation ----- */
.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-family: Tahoma, Geneva, Verdana, sans-serif
}

.hamburger:hover {
    background-color: transparent;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
    color: #364328;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 2rem;
    color: #364328;
}
/*---------- Nav Bar ----------*/
.navigation {
    display: none;
    background-color: var(--background-color);
    margin-top: 10px;
}

.navigation.show {
    display: block;
    grid-column: 1/-1;
}


.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    text-decoration: none;
    color: var(--typeface-color);
}

.navigation li.active {
    border-bottom: solid 2px var(--green-color);
    border-top: solid 2px var(--green-color);
}

.navigation a:hover {
    font-weight: 600;
}

/* ----- Set Headings ----- */
h1,
h2,
h3 {
    font-family: "Libre Baskerville", 'Times New Roman', serif;
    font-weight: 700;
    font-style: italic;
    margin: .5rem 0;
}

h2 {
    font-size: 1.6rem;
    margin: 1.2rem 0 .5rem 0;
    padding: 1rem;
}

h3 {
    font-size: 1.2rem;
    margin: 1.2rem 0 .5rem 0;
    color: var(--accent-color);
}



/* ----- Main ----- */
main {
    max-width: 1200px;
    display: block;
    margin: auto;
}

main img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.hero {
    width: 100%;
    height: auto;
}

.hero-text {
    text-align: center;
    padding: 1rem;
    max-width: 600px;
    background-color: var(--light-green);
}

button {
    display: block;
    background-color: var(--light-green);
    border-radius: 10px;
    color: var(--typeface-color);
    border: none;
    padding: 1rem;
    margin: 1rem auto;
    cursor: pointer;
}

button:hover {
    background-color: var(--green-color);
    color: var(--background-color);
}

.bio {
    padding: 1rem;
    text-align: center;
    margin:1rem;

}

.bio img {
    border-radius: 50%;
    padding: 1rem;
    max-width: 300px;
}
.top-trails h2 {
    text-align: center;
}

.top-trails {
    margin: 1rem;
}

#trail-grid {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    place-items: center;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
    box-shadow: 0 0 10px #0000004d;
    padding: 1rem;
    border-radius: 10px;
    border-bottom: 4px solid var(--accent-color);
}


.card img {
    max-width: 300px;
}

.newsletter {
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}

.newsletter p {
    padding: 0 1rem;
}

.newsletter button {
    margin-bottom: 2rem;
    background-color: var(--typeface-color);
    color: var(--background-color);
}

.newsletter button:hover {
    background-color: var(--green-color);
    color: var(--background-color);
}

.newsletter img {
    border-radius: 50%;
    padding: 1rem;
    max-width: 300px;
}

#trail-details {
    border: none;
    padding: 2rem;
    margin: auto;
    box-shadow: 0 0 20px #0000008c;
    border-radius: 10px;
    border-bottom: 4px solid var(--accent-color);
}

#trail-details img {
    max-width: 300px;
    display: block;
    margin: auto;
}

#trail-details address, #trail-details p, #trail-details h3{
    padding: .5rem;
}

::backdrop {
    background-color:#0550163d;
}

#closeModal {
    border: none;
    background-color: var(--typeface-color);
    color: var(--background-color);
    padding: 1rem 1.25rem;
}

#closeModal:hover {
    border: none;
    background-color: var(--green-color);
}

/* ----- Footer ----- */

footer {
    background-color: var(--light-green);
    padding: 2rem;
    text-align: center;
    border-top: solid 3px var(--green-color);
}

.socials img {
    margin: 0 .5rem 1rem;
    padding: 1px;
}