
@media only screen and (min-width: 38rem) {

    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
        padding: 10px;
    }

    /*************** NAVIGATION **************/
    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    /*************** Main **************/
    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 1rem;
    }

    h1 {
        grid-column: 1/-1;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    h2 {
        margin: 0;
    }

    .courses {
        grid-column: 1/-1;
    }

    .course-menu {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
    }

    .course-menu a {
        width: 100%;
        margin: 5px;
    }

    .course-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 5px;
    }

        dialog {
            max-width: 400px;
        }
}